<div class="question">
  <div class="question-content">
    <div class="question-text text-lead">
      <p>Пока что пользователю вопросов не задавали.</p><p>Почему мы бы Вам не ¿задать вопрос?</p>
    </div>
  </div>
</div>
