.questions-list {
  padding: 10px 0;
}

.question {
  background: #eccfc3;
}

.question-content {
  padding: 10px 15px;
}

.question + .question {
  margin-top: 10px;
}

.question-text,
.question-answer {
  margin-bottom: 10px;
}

.question-text {
  color: #904c77;
}

.question-answer {
}

.question-date {
  color: #904c77;
  font-size: 12px;
}

.question-actions {
  font-size: 20px;
  border-top: 1px solid #957d95;
  text-align: right;
  padding: 10px 15px;
}

.question-actions a {
  margin-left: 10px;
}
