.users-list-item {
  display: inline-block;
}

.user-header {
  padding: 20px 0;
}

.user-image-div {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 5px solid;
  border-radius: 50%;
  overflow: hidden;
}

.user-image-div-small {
  width: 75px;
  height: 75px;
  border-width: 3px;
}

.user-image {
  width: 100%;
  height: 100%;
}

.user-details {
  padding: 10px 0;
}

.user-statistics {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #957d95;
}

.user-questions {
  background: #e49ab0;
}

.user-question-form {
  padding: 10px;
  margin-left: 10px;
  background: #e49ab0;
}

.user-index-link {
  font-weight: 700;
}

.user-index-link-spacing {
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 960px) {
  .user-question-form {
    margin-left: 0;
  }

  .user-question-form-div {
    display: none;
  }
}

@media (min-width: 960px) {
  .user-ask-button {
    display: none;
  }
}
